.layoutwrapper {
    width: 100vw;
    height: 100vh;

    display: grid;

    grid:
        [header-start] 'header header header' 60px [header-end]
        [main-start] 'a form b' auto [main-end]
        / 1fr minmax(350px, 2fr) 1fr;

    place-items: stretch;
    place-content: stretch;

    gap: 3px;
    background-color: #F7F7FF;
}

.textbox {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.header {
    grid-area: header;
    background-color: #1D3461;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 50px;
    color: white;
}

.loginWrapper {
    grid-area: form;
    overflow-y: auto;

    height: auto;
    margin-top: 100px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.login {
    width: 100%;
max-width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: white;

    padding: 20px
}

.registrationLinkWrapper {
    margin-top: 30px;
}


