.layoutwrapper {
    display: grid;

    grid:
        [header-start] 'logo header user' 60px [header-end]
        [main-start] 'posts posts friends' 4fr [main-end]
        [footer-start] 'footer1 chats footer2' 30px [footer-end]
        / minmax(200px, 1fr) 3fr minmax(200px, 1fr);

    place-items: stretch;
    place-content: stretch;

    width: 100vw;
    height: 100vh;

    gap: 0px;
}

.logo {
    grid-area: logo;
    background-color: #1D3461;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.header {
    grid-area: header;
    background-color: #1D3461;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    min-height: 50px;
    color: white;
    padding-right: 30px;
}

.user {
    grid-area: user;
    background-color: #1D3461;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 50px;
    color: white;
}

.loginWrapper {
    grid-area: form;
    overflow-y: auto;

    height: auto;
    margin-top: 100px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.posts {
    grid-area: posts;
    overflow-y: auto;

    height: auto;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: whitesmoke;
}

.postsContainer {
    width: 100%;
    max-width: 700px;
    padding: 20px
}

.friends {
    grid-area: friends;
    overflow-y: auto;

    height: auto;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: gray;
}

.login {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: white;

    padding: 20px
}

.registrationLinkWrapper {
    margin-top: 30px;
}


