.searchBox {
  width: 100%;
}

.searchResultsSummary {
  margin-top: 10px;
}

.rowWrapper {
  margin-bottom: 5px;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;

  flex-wrap: wrap;

  div {
    height: 100%;
  }
}